*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  font-family: 'Ubuntu', sans-serif; 
  font-size: 20px;  
  color: white;
  /*background: $backgroundImage;*/
  overflow-x: hidden;
  max-width: 100vw;
  /*ol { padding: 0; }*/
}

.CardClass{
  padding: 10px;

}
